[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-jwt-extended = "*"
werkzeug = "*"
flask-cors = "*"
flask-mail = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
email-validator = "*"
flask-limiter = "*"
python-dateutil = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
